.App {
  text-align: center;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg6bsJgD07VEdOHQJD5FnEKD-bJAcA_GNqId2ascwasKUy4TY6');
  
}

.header {
  font-size: 50px;
  background-size:cover; 
}